<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ticket System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>

<nav th:insert="customerPages/find.html :: nav()"></nav>
<div style="text-align: center; background-color: antiquewhite" class="card row col-6 ml-auto mr-auto mt-5">
    <h3> New Ticket</h3>
    <div class="card" style="background-color: aliceblue">
        <div class="card-body">

                <form  th:action="@{/tickets/create}" th:object="${ticket}" method="post">

                    <select  th:field="*{specialist.speciality}">
                        <option value="ADMIN">ADMIN</option>
                        <option value="MANAGER">MANAGER</option>
                        <option value="SUPPORT">SUPPORT</option>
                        <option value="ACCOUNTANT">ACCOUNTANT</option>
                    </select>
                    <input type="submit" name="submit">
                </form>

        </div>
    </div>
</div>
</body>

</html>