<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleafe.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"
    >
    <title>Ticket System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>

<nav  th:insert ="customerPages/find.html :: nav()"></nav>

<div class="card col-6 ml-auto mr-auto mt-5"  >
    <h1 class="mx-auto mt-5">Your Ticket Details</h1>
    <div class="card-body">

        <div th:fragment="tableBody(tickets,totalPages,currentPage)" id="lenta">
            <table class="table table-striped table-hover mt-5">
                <thead>
                <tr class="table-info">
                    <th>Your Number in The Que</th>
                    <th>Ticket Number</th>
                    <th>Time Left</th>
                    <th>Cancel</th>


                </tr>
                </thead>
                <tbody>

                <tr>

                    <td style="background-color: aqua" th:text="${ticket.specialist.getTickets().indexOf(ticket)+1}"></td>
                    <td style="background-color: aqua" th:text="${ticket.getSerialNumber()}"></td>


                    <td style="background-color: aqua"
                        th:with="timeLeft=(${ticket.getStartTime().getTime()} - ${#execInfo.now.getTime().getTime()} )/(1000*60)">
                        <p th:text="${#numbers.formatDecimal(timeLeft,0,0)} +' min'  "></p>
                    </td>
                    <td style="background-color: aqua">
                    <form  th:action="@{/tickets/delete}" method="post">
                        <input type="hidden" name="id" th:value="${ticket.id}"/>
                        <button type="submit" value="Delete" class="btn btn-danger">Cancel</button>
                    </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <b th:text="${#execInfo.now.getTime()}"></b>

    </div>


</body>
</html>