<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ticket System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TIcket System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickets">Display Screen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickets/create">Book Ticket</a>
            </li> <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/specialists" tabindex="-1">Specialists</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/specialists" tabindex="-1" sec:authentication="name">Specialists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/specialists" tabindex="-1">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>


                    </form>
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="container my-5">
    <h3> New Ticket</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form th:action="@{/specialists/create}" th:object="${specialist}" method="post">
                    <div class="row">
                        <input type="hidden" th:field="*{id}"/>
                        <label>userName:</label>

                        <input type="text" class="form-control" th:field="*{userName}"/>
                        <label>First name</label>
                        <input type="text" class="form-control"
                               th:field="*{firstName}"/>

                        <label>Last name</label>
                        <input type="text" class="form-control"
                               th:field="*{lastName}"/>

                        <select th:field="*{speciality}">
                            <option value="ADMIN">ADMIN</option>
                            <option value="MANAGER">MANAGER</option>
                            <option value="SUPPORT">SUPPORT</option>
                            <option value="ACCOUNTANT">ACCOUNTANT</option>
                        </select>

                        <label>Password: </label>

                        <input type="password" class="form-control" th:field="*{password}"/>

                        <input type="submit" name="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>