<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TIcket System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickets">Display Screen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickets/create">Book Ticket</a>
            </li> <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/specialists" tabindex="-1">Specialists</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/specialists" tabindex="-1" sec:authentication="name">Specialists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/specialists" tabindex="-1">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>


                    </form>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <form class="form-group">
        <div class="input-group mb-3">


        </div>

    </form>
    <div class="card">
        <h1 class="mx-auto mt-5">Specialists</h1>
        <div class="card-body">
                        <h1 th:text="${specialist.getUserName()}"></h1>
            <table class="table table-striped table-hover mt-5">
                <thead>
                <tr class="table-info">
                    <th>id</th>
                    <th>serial number</th>
                    <th>start time</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Cancel</th>


                </tr>
                </thead>
                <tbody id="show">
                <tr th:each="ticket:${specialist.getTickets()}">


                    <td><a  th:text="${ticket.getId()}"></a> </td>
                    <td><a  th:text="${ticket.serialNumber}"></a></td>

                    <td><a th:text="${ticket.startTime}"></a></td>
                    <td><a th:text="Start"></a></td>
                    <td><a th:text="End"></a></td>
                    <td><a th:text="Cancel"></a></td>


                </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>